.view-apply-body{
    width: 100vw;
    margin-top: 20px;
    padding: 25px;
    padding-top: 0px;
    background-color: #fff;
}

.view-job{
    width: 70vw;
    margin: 0px 15vw;
    background-color: #fff;
    padding: 20px;
}

.view-job h2{
    color: #003B73;
    margin: 0xp;
}

.cover-letter-box{
    border: solid 2px #60A3D9;
    width: 70vw;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #fff;
}

.cover-letter-box h3{
    color: #60A3D9;
}

.cover-letter-box p{
    font-size: 1.1em;
}

#cvPassBtn{
    width: fit-content;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #18A558;
    color: #fff;
    margin-left: 30px;
    border: solid 1px #18A558;
    cursor: pointer;
}

#cvFailBtn{
    width: fit-content;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #EB455F;
    color: #fff;
    margin-left: 30px;
    border: solid 1px #EB455F;
    cursor: pointer;
}

#backBtn{
    width: 150px;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #60A3D9;
    color: #fff;
    margin-left: 30px;
    border: solid 1px #60A3D9;
    cursor: pointer;
}

.print-pdf{
    width: 150px;
    padding: 8px 14px;
    border-radius: 4px;
    background-color: #ffd23f;
    color: #fff;
    margin-left: 30px;
    border: solid 1px #ffd23f;
    cursor: pointer;
}

.status-box{
    float: right;
    padding-right: 20px;
}

.hr-action{
    margin-top: 10px;
    margin-left: 5vw;
    text-align: center;
    margin-right: 5vw;
}
