.applied-job-body{
    width: 70vw;
    margin: 30px 15vw;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 25px;
}

.applied-job-body h1{
    margin: 10px 20px;
    color: #003B73;
}

.applied-list{
    display: flex;
    flex-direction: column;
}

.applied-job-card{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 15px;
    border: solid 2px gainsboro;
    padding: 10px;
    padding-bottom: 20px;
    width: 90%;
}

.card-img-box{
    width: 20%;
    align-items: center;
}

.card-img-box img{
    aspect-ratio: 1;
    max-width: 90%;
    min-width: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 1px #60A3D9;
}

.card-content-box{
    margin-left: 10px;
    width: 80%;
}

.card-content-box h2{
    color: #003B73;
    margin: 0px;
}

.title-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-content-box h3{
    margin: 8px 0px;
    color: #60A3D9;
}

.time-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

.card-content-box p{
    margin: 5px 0px;
}

.wage-tag{
    margin-right: 20px;
    width: fit-content;
    border-radius: 10px;
    border: solid 1px #003B73;
    padding: 4px 15px;
    margin-left: auto;
    background-color: #003B73;
    color: #fff;
}

.card-actions{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.card-link{
    margin-right: 40px;
    margin-left: auto;
    text-decoration: none;
    color: #003B73;
    font-weight: 500;
}

.card-link:hover{
    color: #60A3D9;
    text-decoration: underline;
}

.cv-action{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.status-tag-0{
    font-weight: 500;
    font-style: italic;
    color: darkgray;
    margin: 0px;
}

.status-tag-1{
    font-weight: 500;
    font-style: italic;
    color: #253DA1;
    margin: 0px;
}

.status-tag-2{
    font-weight: 500;
    font-style: italic;
    color: #18A558;
    margin: 0px;
}

.status-tag-3{
    font-weight: 500;
    font-style: italic;
    color: #ff355e;
    margin: 0px;
}

.no-jobs{
    color: #253DA1;
    margin: 15px 30px;
}
